// Styling to support responsive / adaptive features
body {
  &.is-desktop {
    #top-nav {
      .toggle-menu-item { display: none; }
    }
    #mobile-nav {
      display: none;
    }
  }

  &.is-mobile {
    ul#top-nav-links {
      li:not(.toggle-menu-item) {
        display: none;
      }
    }

    #mobile-nav:not(.visible) {
      visibility: hidden;
    }
  }
}
