//@import "mixins";
//
///** assets/stylesheets/pages/portfolio.scss **/
//
//$gap: 0.5em;
//
//#portfolio {
//  .banner {
//    background: no-repeat fixed url(https://s3.us-east-2.amazonaws.com/screenshots.uche.page/projects/learn-rails--portfolio/Falcon-9-B1046-four-booster-39A-hangar-100319-SpaceX-1-crop-3.jpg);
//    background-size: cover;
//
//    h1 {
//      display: inline;
//    }
//  }
//
//  ul#showcase {
//    list-style-type: none;
//    display: inline-flex;
//    flex-direction: row;
//    flex-wrap: wrap;
//    justify-content: center;
//    flex-grow: 1;
//    margin: calc(-1 * var($gap)) 0 0 calc(-1 * var($gap));
//    width: calc(100% + var($gap));
//
//    li {
//      margin: var($gap) 0 0 var($gap);
//      img {
//        width: 100%;
//        height: auto;
//      }
//    }
//  }
//}
