@import "mixins";

footer {
  display: grid;
  grid-template-areas: '. content .';
  @include default-template-columns;
  background-color: #f7f7f7;

  .inner {
    grid-area: content;
    color: #2a2a2a;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 150px;

    & > section {
      padding: 1rem;

      ul {
        list-style-type: none;
      }

      & > ul.social-links[role=navigation] {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        li {
          margin: 0 0.5rem;
          a > i {
            color: #2a2a2a;
            font-size: 1.5rem;
          }
        }

        li:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
