// @import "mixins";

// header {
//   display: grid;
//   grid-template-areas: '. content .';
//   @include default-template-columns;
//   background-color: #f7f7f7;

//   nav {
//     grid-area: content;
//   }

//   nav {
//     min-height: 80px;
//     height: 10vh;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding-right: 1.5rem;
//     border-bottom: 1px solid #e8e8e8;

//     ul {
//       display: flex;
//       flex-direction: row;
//       list-style-type: none;
//       margin: 0; padding: 0;

//       li {
//         margin: 0;

//         &:first-of-type {
//           a {
//             padding-left: 2rem;
//           }

//           @media screen and (min-width: 481px) {
//             a {
//               display: none;
//             }
//           }
//         }

//         &> a {
//           box-sizing: border-box;
//           font-weight: bold;
//           color: #2a2a2a;
//           padding: 1rem;

//           &:hover {
//             color: #2a2a2a;
//             text-decoration: underline;
//           }
//         }
//       }
//     }
//   }
// }