/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Also useful: https://learncssgrid.com/#explicit-grid

@import "typography";
@import "buttons";
@import "mixins";

// body {
//   display: grid;
//   min-height: 100vh;
//   // grid-template-areas:  "header"
//   //                       "main"
//   //                       "footer";  
//   // grid-template-rows: 10vh 1fr minmax(15vh, 150px);

//   grid-template-areas:  "main"
//                         "footer";
//   grid-template-rows: 1fr minmax(15vh, 150px);

//   // header {
//   //   grid-area: header;
//   // }

//   .main {
//     grid-area: main;
//     width: 100vw;
//     display: flex;
//     flex-direction: column;
//   }

//   footer {
//     grid-area: footer;
//   }

// }
