button, .button {
  padding: 1em 2.8em;
  background-color: #2a2a2a;
  border-color: transparent;
  color: gray;
  font-size: 1.4em;

  &:hover {
    color: #fff;
    background-color: limegreen;
    cursor: pointer;
  }
}