//// Place all the styles related to the Pages controller here.
//// They will automatically be included in application.scss.
//// You can use Sass (SCSS) here: http://sass-lang.com/
////
//@import "mixins";
//
//.main {
//  display: grid;
//  grid-template-areas: 'banner banner banner'
//                       '. page-content .';
//  @include default-template-columns;
//
//  .banner {
//    grid-area: banner;
//    display: grid;
//    grid-template-areas: '. content .';
//    @include default-template-columns;
//    box-sizing: border-box;
//    height: 40vh;
//    max-height: 480px;
//    text-align: left;
//    align-items: center;
//
//    .inner {
//      grid-area: content;
//    }
//  }
//
//  section {
//    grid-area: page-content;
//    display: grid;
//    grid-template-areas: '. content .';
//    @include default-template-columns;
//    box-sizing: border-box;
//
//    h1 { background-color: rgba(48, 48, 48, 0.8); color: #f7f7f7; }
//    h3 { background-color: rgba(248, 248, 248, 0.8) }
//
//    .inner {
//      grid-area: content;
//    }
//  }
//}