<footer>
  <div class="inner">
    <section>
      <ul class="social-links" role="navigation">
        <li><a href=""><i class="fab fa-github"></i></a></li>
        <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
      &copy;<span><%= current_year ||= '2020' %></span> Uche Chilaka
    </section>
  </div>
</footer>
